/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em; 
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Avenir-Next-Pro-Regular';
    src: url('../font/avenirnextltpro-regular.eot');
    src: url('../font/avenirnextltpro-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/avenirnextltpro-regular.woff') format('woff'),
         url('../font/avenirnextltpro-regular.ttf') format('truetype'),
         url('../font/avenirnextltpro-regular.svg#Avenir-Next-Pro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Next-Pro-Demi';
    src: url('../font/avenirnextltpro-demi.eot');
    src: url('../font/avenirnextltpro-demi.eot?#iefix') format('embedded-opentype'),
         url('../font/avenirnextltpro-demi.woff') format('woff'),
         url('../font/avenirnextltpro-demi.ttf') format('truetype'),
         url('../font/avenirnextltpro-demi.svg#Avenir-Next-Pro-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    color: #fff;
    background-color: #222222;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.lefty, .righty {
    padding-top: 50px;
    width: 50%;
    height: 70%;
    position: relative;

    -webkit-perspective-origin: center;
    -webkit-transform-origin: left middle;
    -webkit-perspective: 1000px;
}

.lefty {
    float: left;
}

.righty {
    float: right;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.lefty .content {
    left: 20px;
    padding-right: 6px;
    -webkit-transform: rotateY(30deg);
}

.righty .content {
    right: 20px;
    -webkit-transform: rotateY(-30deg);
}

.header {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.header h1 {
    font-family: "Avenir-Next-Pro-Demi";
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 38pt;
     color: #fff9d6;
    text-shadow:0px 0px 0 rgb(215,215,215),
        0px 1px 0 rgb(185,185,185),
        0px 2px 0 rgb(155,155,155), 
        0px 3px 0 rgb(125,125,125),
        0px 4px 3px rgba(0,0,0,0.05),
        0px 4px 1px rgba(0,0,0,0.5),
        0px 0px 3px rgba(0,0,0,.2);
}

.center {
    margin: 0 auto;
}

code, pre {
    font-family: "Consolas", Courier;
    font-size: .8em;
    display: block;
}

.window {
    background: linear-gradient(#E9E9E9, #B2B2B2 21px, #EDEDED, #EDEDED 23px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.webframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#showWebsite {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

nav.control-window {
    float: left;
    height: 19px;
    padding: 2px 0 0 10px;
    z-index: 10;
    position: absolute;
}

h1.titleInside {
    color: #3C3C3C;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #E7E7E7;
    text-transform: capitalize;
    z-index: 2;
}

.terminal {
    background: none repeat scroll 0 0 #333333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: auto;

    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: -o-calc(100% - 20px);
    height: calc(100% - 20px);
}

nav.control-window a:before {
    border-radius: 100%;
    bottom: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8) inset;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

nav.control-window a:after {
    background: linear-gradient(#FFFFFF, rgba(255, 255, 255, 0.9) 2%, #FFFFFF, rgba(255, 255, 255, 0.4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.7) 122%, rgba(255, 255, 255, 0.7)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 100%;
    bottom: 1px;
    content: "";
    display: block;
    left: 1px;
    position: absolute;
    right: 1px;
    top: 2px;
}

nav.control-window a.closeit {
    background: none repeat scroll 0 0 #FD4E4E;
}

nav.control-window a.minimize {
    background: none repeat scroll 0 0 #F3BB55;
}

nav.control-window a.deactivate {
    background: none repeat scroll 0 0 #B5B5B5;
}

nav.control-window a {
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 12px;
    margin: 2px 0 3px 1px;
    position: relative;
    text-indent: -9999px;
    width: 12px;
}

.terminal pre.prettyprint {
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

.code .pln:first-child {
    display: none;
}

.highlighted {
     background-color: #6C0000 !important;
     border: 1px solid #C10000;
     padding: 3px;
}

.css-window {
    background: linear-gradient(#E9E9E9, #B2B2B2 21px, #EDEDED, #EDEDED 23px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.css-terminal {
    background: none repeat scroll 0 0 #333333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: auto;

    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: -o-calc(100% - 20px);
    height: calc(100% - 20px);

    width: 100%;
    height: 100%;
}

.css-terminal pre.prettyprint {
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

.middle {
    margin: 0 auto;
    width: 30%;
    height: 500px;
    margin-top: 580px;
}

.middle .content {
    width: 100%;
    height: 20%;
    position: relative;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*  NEW  */

.navigation-bar{
    background-color: #383838;
    border-color: #e7e7e7;
    height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    color: white;
    overflow: hidden;
}

.white, .white a {
  color: #fff;
}

.lm{
    width: 50px;
}

/*********/

/* SLIDER */

.pxs_container{
    width:100%;
    height:420px;
    position:relative;
    margin-bottom: 20px;
/*  border-top:7px solid #333;
    border-bottom:7px solid #333;
    overflow:hidden;
    -moz-box-shadow:0px 0px 7px #000;
    -webkit-box-shadow:0px 0px 7px #000;
    box-shadow:0px 0px 7px #000;*/
}
.pxs_bg{
    background:transparent url(../images/bg.png) repeat top left;
}
.pxs_bg div{
    position:absolute;
    top:0px;
    left:0px;
    width:7584px; /*1264px window width times number of images*/
    height:420px;
    background-repeat:repeat;
    background-position:top left;
    background-color:transparent;
}
.pxs_bg .pxs_bg1{
    background-image:url(../images/bg4.png);
    /*left negative 1/8 of ww*/
}

.pxs_slider_wrapper{
    display:none;
}
.pxs_container ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
ul.pxs_slider{
    position:absolute;
    left:0px;
    top:0px;
    height:420px;
}
ul.pxs_slider li{
    height:420px;
    float:left;
    position:relative;
}
ul.pxs_slider li img{
    display:block;
    margin:0px auto 0px auto;
    -moz-box-shadow:0px 0px 7px #222;
    -webkit-box-shadow:0px 0px 7px #222;
    box-shadow:0px 0px 7px #222;
    border: 8px solid transparent;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
ul.pxs_thumbnails{
    height:35px;
    position:absolute;
    top:370px;
    left:50%;
}
ul.pxs_thumbnails li{
    position:absolute;
    display:block;
}
ul.pxs_thumbnails li img{
    border: 5px solid #FFFFFF;
    -moz-box-shadow:1px 1px 7px #555;
    -webkit-box-shadow:1px 1px 7px #555;
    box-shadow:1px 1px 7px #555;
    cursor:pointer;
    display:block;
    opacity:0.7;
}
ul.pxs_thumbnails li.selected img{
    opacity:1.0;
}
.pxs_navigation span{
    position:absolute;
    width:30px;
    height:60px;
    -moz-box-shadow:0px 0px 2px #000;
    -webkit-box-shadow:0px 0px 2px #000;
    box-shadow:0px 0px 2px #000;
    top:165px;
    opacity:0.6;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    cursor:pointer;
}
.pxs_navigation span:hover{
    opacity:0.9;
}
.pxs_navigation span.pxs_prev{
    margin-top: 40px;
    background:#000 url(../images/prev.png) no-repeat center center;
}
.pxs_navigation span.pxs_next{
    margin-top: 40px;
    background:#000 url(../images/next.png) no-repeat center center;
}
.pxs_loading{
    color:#fff;
    font-size:20px;
    padding:15px 15px 15px 50px;
    position:absolute;
    background:#333 url(../images/ajax-loader.gif) no-repeat 10px 50%;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    opacity:0.7;
    width:180px;
    position:absolute;
    top:150px;
    left:50%;
    margin-left:-90px;
}

#slider{
    margin-top: 30px;
    min-height: 490px;
}
