@font-face {
    font-family: 'AvenirNextLTProDemi';
    src: url('avenirnextltpro-demi.eot');
    src: url('avenirnextltpro-demi.eot') format('embedded-opentype'),
         url('avenirnextltpro-demi.woff') format('woff'),
         url('avenirnextltpro-demi.ttf') format('truetype'),
         url('avenirnextltpro-demi.svg#AvenirNextLTProDemi') format('svg');
}
